<div class="animated fadeIn">
  <div class="row" style='margin-bottom: 15px;'>
    <div class="col-lg-12">
      <button type="button" class="btn btn-primary" (click)="router.navigate(['/code','untitled'])">Create new
        snippet</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let snippet of snippets | async">
      <div class="card" (click)="router.navigate(['/code', snippet._id])">
        <div class="card-header">
          {{snippet.name}}
          <div class="card-header-actions">
            <span class="badge badge-success">{{snippet.language}}</span>

          </div>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-danger" (click)='deleteSnippet(snippet._id)'>Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!--/.row-->
</div>